# Project 2019 - Programming for Data Analysis

# Simulation Dataset - Installed Base Dataset

## Introduction
The following assignment concerns the numpy.random package in Python 3. I have created a Jupyter notebook explaining the use of the package, including detailed explanations of six of the distributions provided for in the package.

## Problem statement

The objective of this project is to create a data set by simulating a real-world phenomenon, of my choosing.

* Instead of collecting data, I model and synthesise the data using Python packages, such as numpy.random.

Specifically, in this project you should:

* I simulate two hundred data points across four different variables.
* I investigate the types of variables involved, their likely distributions, and their relationships with each other.
* I simulate a data set as closely matching their properties as possible.
* I detail my research and implement the simulation in a Jupyter notebook 
* The final dataset itself is displayed in an output cell within the notebook.

## About My Dataset
The objective of my dataset is to simulate typical data about a companys installed base. According to Kurvinen (2017), the typical data on install base includes a listing of products which are installed at a given customer site. Futhermore, it can include additional variables such as serial numbers, hardware and software revisions, warranty and service contracts. 

Installed base data can be used by many departments in an organisation, from field service engineers, sales, spare parts planners, quality etc . The dataset helps to answer questions such as:

* What is the current configuration of the product to be serviced?
* Where is the faulty product physically located and where is the part to be replaced located?
* Is the unit covered under warranty or service contract?
* When was the unit installed, upgraded and/or last serviced?

![Install Base Image](https://cdn.myonlinestore.eu/945f2dab-6be1-11e9-a722-44a8421b9960/images/World%20map%20installed%20base.png)

## Basic Description of the Dataset

The dataset contains the following data

1. Part Number: 5 Digit identifier for each product installed. 
2. Serial Numbers: Unique ID's for each unit sold. There are 200 serial numbers.
3. Installation Date: Assume all units sold require a start-up / installation by a field service engineer, who records this date on the company CRM system (Saleforce.com). The dataset was created in January 2017 and spans 36 months.
4. Factory Warranty Expiration Date: Factory Warranty usually expires 1 year after installation.
5. Extended Warranty: Number of years of extended warranty cover purchased.
6.

## Variables Types
 
 1. Python Objects  
 Serial numbers are usually unique alphanumeric strings, usually of a fixed length, so I decided to use UUID function in python to generate random unique ID's which have similar properties to serial numbers. The UUID module provides "immutable UUID objects (the UUID class) and the functions uuid1(), uuid3(), uuid4(), uuid5() for generating version 1, 3, 4, and 5 UUIDs as specified in RFC 4122" (The Python Foundation, 2019). The dtype used to store these objects, is Python Object.   
 
 2. datetime64
 Datetime64 is a NumPy data types which support datetime functionality (The Scipy Community, 2017). This datatype will be used to store datetime variables 'install date' & 'factory warranty'.
 
 3. Int32
 This datatype is a 32bit integer, which will be used for variable 'extended warranty'.

## 1. Defining the main parameters

I begin by importing all the necessary dependencies and defining the main parameters mentioned above (200 serial number, 36 months, starting month in January 2017).

In [14]:
# importing all the libraries
import pandas as pd
import numpy as np
import uuid
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [15]:
# Define the main parameters dataset. 

# number of serial numbers which are contained in the install base dataset
num_serial_num = 200

# number of months since first unit was installed
num_months = 36

# starting month when units first installed
start_month = '2017-01-01'

## 2. Simulate List of Part Numbers
Part numbers can be classified as categorical data. 

Typically, any data attribute which is categorical in nature represents discrete values which belong to a specific finite set of categories or classes. These are also often known as classes or labels in the context of attributes or variables which are to be predicted by a model (popularly known as response variables). These discrete values can be text or numeric in nature (or even unstructured data like images!). There are two major classes of categorical data, nominal and ordinal.
In any nominal categorical data attribute, there is no concept of ordering amongst the values of that attribute. Consider a simple example of weather categories, as depicted in the following figure. We can see that we have six major classes or categories in this particular scenario without any concept or notion of order (windy doesn’t always occur before sunny nor is it smaller or bigger than sunny). Sarkar, 2018

In [30]:
# Use NumPy Random Randint Function to generate 200 random part numbers

# 5 Digit Part Numbers with ID # in range of 10000 to 99999
low, high, size = (10000 , 99999 , 200) # Define parameters for numpy.random.randint() function

np.random.seed(2) # use random seed generator

# Create a Pandas Dataframe - # solution adapted from https://stackoverflow.com/a/23671779
# Create 2D array of 200 sets of 5 numbers
parts = pd.DataFrame(np.random.randint(low, high, size), columns=['parts'])
# Display first 5 rows
parts.head()

   parts
0  99256
1  82173
2  54566
3  41019
4  94434

## 3. Create Serial Numbers

In [32]:
# generating 200 serial numbers using UUID function
# Adapted from https://towardsdatascience.com/generating-product-usage-data-from-scratch-with-pandas-319487590c6d

# create an 1D array called serial, using uuid4 function to generate 200 random UUID. 
serial = pd.Series([str(uuid.uuid4()) for i in range(0,num_serial_num)])
# create 2D dataframe called installbase and insert array serial
installbase = pd.DataFrame()
# insert array serial into installbase dataframe
installbase['serial number'] = pd.Series(serial)
# display dataframe (scrolling)
installbase

                            serial number
0    ebb7e6a5-b192-47fc-9db8-d90e0cb7a1f9
1    62d5dd29-cdfa-422f-b29c-96744b33f71d
2    ce555016-2871-431b-8b2f-e29babce71e2
3    0bb55b50-4b94-48f5-929a-ce825030d946
4    f77c0a30-22cf-405f-a8af-ebf74a84759b
5    24bb7dbd-36d1-49c4-b48b-84645c4c423e
6    1cbe7625-220d-496d-adf5-a41248fcfaed
7    a20c6c5a-3bdb-4b23-b79b-19574c6e9581
8    726d6016-8382-403a-8360-b52db94cab6d
9    75f1957b-d5cd-477d-9533-97212bc50e41
10   950864bc-b716-4211-981b-6952cbb65bba
11   4e1d20f7-0f1c-4b0d-98f3-1374f03aa026
12   4e7088ca-1f07-4d57-b2c4-6d424f78be07
13   088db809-e80c-44e4-9e1d-b7240c7ec37e
14   0741d0ef-dbd7-4118-8afa-c1c6c7b867a9
15   c026b060-439b-42f0-8fb3-83fd76b2a018
16   99b4d3df-a37a-4504-a0a6-fd2609eaf864
17   50bb7ce0-99e0-40a6-b564-a68e92067aa2
18   b6c94b3b-8a9c-42b5-b196-7398ad93f0d4
19   9bfc8b33-a5d0-4d8b-a009-b039198f8a7a
20   df8212f5-6ba2-4a53-88a1-eb16d2051f09
21   3fbf7571-41fe-402f-b3cf-def406d1a20e
22   d69f6845-d66d-417e-a844-c501b46b9092
23   f659db28-2039-444b-9357-51a8b8164281
24   b4bf4771-2ac6-4a88-9633-d7d516cc67c1
25   dfa5a6fe-6eee-4edc-8702-4a95426cad04
26   fe526df4-dbe0-439b-9e9e-5be8a20052e9
27   821e35ed-29ba-4ca8-9b9e-ea03bf77a86b
28   6d7741d4-07f1-45d0-984a-55b097099ba6
29   be7f8dc7-d85d-4551-a259-f389afaf6089
..                                    ...
170  c85513b1-035e-4fd6-bab9-b8a7a38cda46
171  cdb40b7f-7b3d-4761-876f-71d02dff80a6
172  2089565e-979c-4a15-8059-01c2f5778b96
173  abaa4119-16ca-46d5-a1bb-d0cfe33731ce
174  0d77ae44-e0ee-4142-b8cd-13ca025f0ab3
175  a686ef6e-98e1-4c94-844e-73ead5d58d72
176  5a474081-cdcf-4b71-98a2-b254fca6e92b
177  43970ba8-67bd-4d7a-a0d8-13f62d5b5d1d
178  7da7f16f-4043-4d31-8460-f5e6aa449871
179  ff232616-6518-4222-bd58-f0cfd4fdc3f7
180  75910090-c6c9-4bcb-957f-460e4024faba
181  bf12bf24-8ca1-48c5-ba13-951c1d044495
182  a0eb48b3-1351-4177-95e2-87cec34b502f
183  e7ac848e-8900-4cbd-9883-abb3a07e9f1a
184  639ddf3b-dbfc-4aea-97cf-34ca725494da
185  2c955acf-7fb4-4e99-ab3a-ec00a6f1aa56
186  a184709b-6cc1-4374-a50a-e3ce9d29f9ab
187  f27625af-d57e-4686-8177-db6db693170c
188  7d1a2f2a-a5b9-466f-923a-e8cd6c16d92c
189  1734ff17-2a88-4d82-a4dd-cd5373a934aa
190  de29d3dc-c2ca-45fa-90e1-14faff9488f0
191  afcf7d6c-89ab-45c6-812c-7bee024e2280
192  dbd86a45-11b7-4c38-a558-62fca2d82fb5
193  7f89a6d0-3be9-409c-9106-31a8d18db915
194  7c57267a-920e-4012-b60c-1499499e5c77
195  0c0d94b8-9f8a-483d-95e5-7eff2443da13
196  71497372-1dc3-478e-9491-7d15788aabc9
197  21f6f7c1-8c14-46f3-b65b-79b03c4b7b63
198  65b9ad37-eefd-49b9-8656-a49e4be13d75
199  2dfb4e09-1b57-46a5-9778-ab59253e31b6

[200 rows x 1 columns]

In [33]:
# Adding part number column to the dataframe using pandas concat function
# Adapted from https://towardsdatascience.com/generating-product-usage-data-from-scratch-with-pandas-319487590c6d

# Combine 2 pandas series in the dataframe, resetting the index without inserting it as a column in the new DataFrame.
installbase['part number'] = pd.concat([parts], axis=0).reset_index().drop('index', 1)
installbase

                            serial number  part number
0    ebb7e6a5-b192-47fc-9db8-d90e0cb7a1f9        99256
1    62d5dd29-cdfa-422f-b29c-96744b33f71d        82173
2    ce555016-2871-431b-8b2f-e29babce71e2        54566
3    0bb55b50-4b94-48f5-929a-ce825030d946        41019
4    f77c0a30-22cf-405f-a8af-ebf74a84759b        94434
5    24bb7dbd-36d1-49c4-b48b-84645c4c423e        43867
6    1cbe7625-220d-496d-adf5-a41248fcfaed        90232
7    a20c6c5a-3bdb-4b23-b79b-19574c6e9581        54295
8    726d6016-8382-403a-8360-b52db94cab6d        63922
9    75f1957b-d5cd-477d-9533-97212bc50e41        43201
10   950864bc-b716-4211-981b-6952cbb65bba        53595
11   4e1d20f7-0f1c-4b0d-98f3-1374f03aa026        45541
12   4e7088ca-1f07-4d57-b2c4-6d424f78be07        80703
13   088db809-e80c-44e4-9e1d-b7240c7ec37e        21071
14   0741d0ef-dbd7-4118-8afa-c1c6c7b867a9        42031
15   c026b060-439b-42f0-8fb3-83fd76b2a018        61930
16   99b4d3df-a37a-4504-a0a6-fd2609eaf864        82084
17   50bb7ce0-99e0-40a6-b564-a68e92067aa2        51084
18   b6c94b3b-8a9c-42b5-b196-7398ad93f0d4        95620
19   9bfc8b33-a5d0-4d8b-a009-b039198f8a7a        61879
20   df8212f5-6ba2-4a53-88a1-eb16d2051f09        31418
21   3fbf7571-41fe-402f-b3cf-def406d1a20e        70966
22   d69f6845-d66d-417e-a844-c501b46b9092        18170
23   f659db28-2039-444b-9357-51a8b8164281        25905
24   b4bf4771-2ac6-4a88-9633-d7d516cc67c1        30026
25   dfa5a6fe-6eee-4edc-8702-4a95426cad04        96908
26   fe526df4-dbe0-439b-9e9e-5be8a20052e9        26639
27   821e35ed-29ba-4ca8-9b9e-ea03bf77a86b        66643
28   6d7741d4-07f1-45d0-984a-55b097099ba6        50390
29   be7f8dc7-d85d-4551-a259-f389afaf6089        65417
..                                    ...          ...
170  c85513b1-035e-4fd6-bab9-b8a7a38cda46        77473
171  cdb40b7f-7b3d-4761-876f-71d02dff80a6        45885
172  2089565e-979c-4a15-8059-01c2f5778b96        38681
173  abaa4119-16ca-46d5-a1bb-d0cfe33731ce        26804
174  0d77ae44-e0ee-4142-b8cd-13ca025f0ab3        62200
175  a686ef6e-98e1-4c94-844e-73ead5d58d72        87139
176  5a474081-cdcf-4b71-98a2-b254fca6e92b        58986
177  43970ba8-67bd-4d7a-a0d8-13f62d5b5d1d        16502
178  7da7f16f-4043-4d31-8460-f5e6aa449871        13256
179  ff232616-6518-4222-bd58-f0cfd4fdc3f7        37016
180  75910090-c6c9-4bcb-957f-460e4024faba        38028
181  bf12bf24-8ca1-48c5-ba13-951c1d044495        10718
182  a0eb48b3-1351-4177-95e2-87cec34b502f        62273
183  e7ac848e-8900-4cbd-9883-abb3a07e9f1a        78659
184  639ddf3b-dbfc-4aea-97cf-34ca725494da        24451
185  2c955acf-7fb4-4e99-ab3a-ec00a6f1aa56        18091
186  a184709b-6cc1-4374-a50a-e3ce9d29f9ab        94163
187  f27625af-d57e-4686-8177-db6db693170c        33631
188  7d1a2f2a-a5b9-466f-923a-e8cd6c16d92c        96914
189  1734ff17-2a88-4d82-a4dd-cd5373a934aa        25638
190  de29d3dc-c2ca-45fa-90e1-14faff9488f0        30741
191  afcf7d6c-89ab-45c6-812c-7bee024e2280        82837
192  dbd86a45-11b7-4c38-a558-62fca2d82fb5        90229
193  7f89a6d0-3be9-409c-9106-31a8d18db915        97389
194  7c57267a-920e-4012-b60c-1499499e5c77        81820
195  0c0d94b8-9f8a-483d-95e5-7eff2443da13        73708
196  71497372-1dc3-478e-9491-7d15788aabc9        43158
197  21f6f7c1-8c14-46f3-b65b-79b03c4b7b63        50561
198  65b9ad37-eefd-49b9-8656-a49e4be13d75        53052
199  2dfb4e09-1b57-46a5-9778-ab59253e31b6        16661

[200 rows x 2 columns]

The output is a dataframe 200 rows and two columns, serial number and part number.

## 4. Generating Installation Date

I use the pandas.to_datetime function to output a range of datetime values which simulate a range of installation dates. Then I select a random sample of these dates to populate the dataset using np.random.choice function.

In [19]:
# Create Date Range using the specified parameters (starting month, number of months).
# Adapted from https://towardsdatascience.com/generating-product-usage-data-from-scratch-with-pandas-319487590c6d

# reseting the index without inserting it as a column in the new DataFrame - https://www.geeksforgeeks.org/python-pandas-series-reset_index/
installbase = installbase.reset_index().drop('index', 1)

# defining range of installation dates: starting month 
start_month_ts = pd.to_datetime(start_month)
# define end month as start month plus 36 months, using relativedata utility https://dateutil.readthedocs.io/en/stable/relativedelta.html
end_month_ts = start_month_ts + relativedelta(months=+num_months - 1)

# making a Series out of the starting and ending month
months = pd.Series(pd.date_range(start_month_ts, end_month_ts, freq='MS'))
# Display start and end month
str(start_month_ts), str(end_month_ts)

('2017-01-01 00:00:00', '2019-12-01 00:00:00')

This argument uses the specified parameters (starting month, number of months) to generate a range of dates from January 2017 to December 2019.

In [20]:
# Select random installation dates from range of dates created above

# use random seed generator
np.random.seed(2) # use random seed generator
# create a series called installdate whoch contain 200 dates chosen at random from  the daterange "months" using random.choice() function 
installdate = pd.Series(np.random.choice(months, size=num_serial_num))
# display first 5 rows
installdate.head()

0   2018-04-01
1   2017-09-01
2   2018-11-01
3   2018-07-01
4   2017-12-01
dtype: datetime64[ns]

In [21]:
#  Adding installdate column to the dataframe

# Combine installdate series into the installbase dataframe, resetting the index without inserting it as a column in the new DataFrame.
installbase['install date'] = pd.concat([installdate] * num_serial_num, axis=0).reset_index().drop('index', 1)
#diplay the dataframe
installbase

                                   serial  part number install date
0    69ec6fd3-dcca-47c4-ae53-0cdcdcd802bd        22849   2018-04-01
1    bca3d1d1-ade3-4b98-afb1-34976a237cde        93937   2017-09-01
2    3c2f5a8f-dff9-452f-b6c6-66eab5560ca7        89295   2018-11-01
3    cde12a12-3117-4aca-acb3-5c66736a9492        69404   2018-07-01
4    aadaa0c1-0b8b-4170-8133-c6df4f3fcf8c        85306   2017-12-01
5    e7bcce6a-4e04-4e6b-8981-1ff716857d57        65810   2017-08-01
6    17d54f1d-b83f-4ec8-9374-7053bc8849f4        98136   2019-11-01
7    978e7df2-76c9-4ff0-b799-da88f9528e66        91234   2019-08-01
8    4aaea158-8f41-4931-8555-41b7470f6c79        13111   2017-12-01
9    743e54c1-28a3-4d25-969e-b4dbca052945        85906   2018-10-01
10   7f495f71-ae5c-4870-b46b-b508c4628f49        52547   2019-08-01
11   6ee4644d-69d9-4d42-b070-a2dfa76153d7        56300   2019-03-01
12   71b52daa-9747-4025-be9f-679755e4f11d        27842   2018-09-01
13   842ddee2-5038-41c3-8152-3138ed7be594        19785   2017-04-01
14   057e4950-5c20-4fc4-bbb2-3f31db171a0e        87144   2017-05-01
15   86bdf58e-02c0-4d06-afd4-324a64b7fc4e        47999   2019-10-01
16   f9fa3d17-c8da-4a8f-bdfd-b32a245cbe3d        36176   2017-04-01
17   209448ad-e558-49c3-b436-20b171fdc484        32142   2017-06-01
18   6056b844-a139-4dcd-bf20-e7c19cf5d8a3        99711   2019-01-01
19   294669bf-4058-4cb8-8e73-3414ae1fa7bd        65898   2017-05-01
20   f1189c26-feb1-4f56-96b9-3465fafa9a09        23953   2017-07-01
21   129c08d2-77c9-4a38-a791-03c04fc9f2ea        99838   2019-08-01
22   52b5b23a-f072-4e3a-84a8-924eb52f57ca        47831   2018-08-01
23   5a1cd44f-7bb6-40ed-8137-8ab758853a69        39208   2019-08-01
24   774e8687-bd13-4dbe-ab8f-776077d1605f        50053   2017-03-01
25   38e36175-c178-4b66-b14a-b21f0ff1ebc6        63230   2018-05-01
26   d6c511f0-45d9-4b04-8190-879fbf5ee1e6        31136   2018-01-01
27   9b852864-1c89-4b02-b8ab-60f5a251c70f        70954   2017-05-01
28   5bbe1234-b23f-41f6-b730-bbc2f211902a        65092   2019-03-01
29   34a8a5a7-55b0-4ce8-896a-2345faf1e52d        57579   2018-04-01
..                                    ...          ...          ...
170  d4d2d421-18be-42a0-952b-76878f96d304        83542   2018-10-01
171  00ac5cf6-47e1-4d7f-81ab-8484a6a835c2        54668   2018-08-01
172  c069d862-bc1c-4562-99ce-d08e1c04968b        85047   2017-05-01
173  e69a2364-11da-4017-a52a-ba9a967726dd        91716   2019-11-01
174  7b48c881-6938-4785-8545-22490c3a5bf7        35850   2018-01-01
175  b617df23-a6bb-4bcb-84e9-7fba48bcfd87        56355   2018-04-01
176  3fb3e892-4889-4800-8261-9ba3342c6095        14441   2018-10-01
177  2bab290b-4c2a-42b4-9a31-a06f90e84388        73056   2017-02-01
178  c90f1794-c600-47c7-9bad-bf3287189704        61874   2019-05-01
179  99636557-250d-416a-ad5d-9cb04ab0a689        56003   2018-12-01
180  ba3b140d-a699-4415-80ca-8df9c096ce98        76399   2018-06-01
181  954372d5-9071-48d8-ad24-1eba39ace43c        13776   2018-07-01
182  dfd2d512-877d-476e-bf04-6171a7ff76aa        54433   2019-05-01
183  3c4599db-b33d-48cb-b921-0d9fd4ad0c60        44561   2019-04-01
184  9c22b344-115f-4522-96b6-eb57b353fdb8        21094   2017-11-01
185  761c123f-5302-44ca-9890-566fd3144d0b        93041   2019-03-01
186  ddf9ea86-b5c5-4055-a771-38090e85c409        85925   2019-10-01
187  434f0b08-591c-40e5-8c58-6575113ecc0c        38851   2017-03-01
188  96a48d09-ce54-4faa-bd55-fd329b576366        41354   2019-09-01
189  d5285f4b-f29f-4a48-80c3-903f665e54c5        20429   2018-10-01
190  03675274-aa67-41ab-bd90-552f9981b3bb        30327   2018-01-01
191  77af8c84-66da-4626-a903-01996255c5c7        83710   2018-08-01
192  81913ede-a205-41b7-8df0-b8787bbfb825        77489   2018-07-01
193  f7be3f91-5f94-467d-94f9-c95af75d5221        92687   2017-09-01
194  d51042d2-3a09-4b6d-aef2-6283f2f7f2f1        23153   2017-12-01
195  5f331758-8def-4417-bea1-421c1ad8ec53        80769   2018-12-01
196  472f6aa7-9976-48f3-a6eb-d263ece94b45        23785   2019-04-01
197  749537e8-ee1c-42ef-a67e-c90c06498723        60022   2018-05-01
198  73b80b23-6ce8-4600-845c-61835a09ab9f        80201   2017-05-01
199  10c25781-7905-400c-af4c-82133c7de898        63047   2018-01-01

[200 rows x 3 columns]

In [22]:
factorywarrantyexpiry = (installdate + np.timedelta64(1, 'Y'))
factorywarrantyexpiry

0     2019-04-01 05:49:12
1     2018-09-01 05:49:12
2     2019-11-01 05:49:12
3     2019-07-01 05:49:12
4     2018-12-01 05:49:12
5     2018-08-01 05:49:12
6     2020-10-31 05:49:12
7     2020-07-31 05:49:12
8     2018-12-01 05:49:12
9     2019-10-01 05:49:12
10    2020-07-31 05:49:12
11    2020-02-29 05:49:12
12    2019-09-01 05:49:12
13    2018-04-01 05:49:12
14    2018-05-01 05:49:12
15    2020-09-30 05:49:12
16    2018-04-01 05:49:12
17    2018-06-01 05:49:12
18    2020-01-01 05:49:12
19    2018-05-01 05:49:12
20    2018-07-01 05:49:12
21    2020-07-31 05:49:12
22    2019-08-01 05:49:12
23    2020-07-31 05:49:12
24    2018-03-01 05:49:12
25    2019-05-01 05:49:12
26    2019-01-01 05:49:12
27    2018-05-01 05:49:12
28    2020-02-29 05:49:12
29    2019-04-01 05:49:12
              ...
170   2019-10-01 05:49:12
171   2019-08-01 05:49:12
172   2018-05-01 05:49:12
173   2020-10-31 05:49:12
174   2019-01-01 05:49:12
175   2019-04-01 05:49:12
176   2019-10-01 05:49:12
177   2018-02-01 05:49:12
178   2020-04-30 05:49:12
179   2019-12-01 05:49:12
180   2019-06-01 05:49:12
181   2019-07-01 05:49:12
182   2020-04-30 05:49:12
183   2020-03-31 05:49:12
184   2018-11-01 05:49:12
185   2020-02-29 05:49:12
186   2020-09-30 05:49:12
187   2018-03-01 05:49:12
188   2020-08-31 05:49:12
189   2019-10-01 05:49:12
190   2019-01-01 05:49:12
191   2019-08-01 05:49:12
192   2019-07-01 05:49:12
193   2018-09-01 05:49:12
194   2018-12-01 05:49:12
195   2019-12-01 05:49:12
196   2020-03-31 05:49:12
197   2019-05-01 05:49:12
198   2018-05-01 05:49:12
199   2019-01-01 05:49:12
Length: 200, dtype: datetime64[ns]

In [23]:
installbase['factory warranty'] = pd.concat([factorywarrantyexpiry], axis=0).reset_index().drop('index', 1)
installbase.head()

,serial,part number,install date,factory warranty
0,69ec6fd3-dcca-47c4-ae53-0cdcdcd802bd,22849,2018-04-01,2019-04-01 05:49:12
1,bca3d1d1-ade3-4b98-afb1-34976a237cde,93937,2017-09-01,2018-09-01 05:49:12
2,3c2f5a8f-dff9-452f-b6c6-66eab5560ca7,89295,2018-11-01,2019-11-01 05:49:12
3,cde12a12-3117-4aca-acb3-5c66736a9492,69404,2018-07-01,2019-07-01 05:49:12
4,aadaa0c1-0b8b-4170-8133-c6df4f3fcf8c,85306,2017-12-01,2018-12-01 05:49:12

In [24]:
# Customer have a choice of not taking out extended warranty or purchasing an additional 1, 2 or 3 year extended warranty
num_warranty = 3  

# assign extended warranty to users randomly (when did the user first use the product?)
warranty = pd.DataFrame()
warranty['warranty extension'] = np.random.randint(low=0, high=num_warranty, size=num_serial_num)
warranty.sample(5)

     warranty extension
30                    1
54                    2
71                    1
162                   2
119                   0

In [25]:
installbase['extended warranty'] = pd.concat([warranty], axis=0).reset_index().drop('index', 1)
installbase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
serial               200 non-null object
part number          200 non-null int32
install date         200 non-null datetime64[ns]
factory warranty     200 non-null datetime64[ns]
extended warranty    200 non-null int32
dtypes: datetime64[ns](2), int32(2), object(1)
memory usage: 6.3+ KB

## 4. Generating categorical features

In [26]:
# Defining the variables
platforms = ['iOS', 'Android']
countries = ['IE', 'GB', 'NL', 'FR', 'DE', 'BE', 'DK']
service_contract = [False, True]

4.1. Generating categorical feature weights
Defining weights for the likelihood of a categorical feature associated with an individual unit.

## References
1. Kurvinen, M (2017) *INSTALLED BASE AND TRACEABILITY* [Online] Available at: http://sd-ize.com/installed-base.html[Accessed 1 December 2019].
2. Python Software Foundation (2019) *UUID objects according to RFC 4122* [Online] Available at https://docs.python.org/2/library/uuid.html [Accessed 1 December 2019]
3. Osolnik, J (2017) *Simulating product usage data with Pandas* [Online] Available at https://towardsdatascience.com/generating-product-usage-data-from-scratch-with-pandas-319487590c6d [Accessed 1 December 2019]
4. The Scipy Community (2017) *Datetimes and Timedeltas* [Online] Available at https://docs.scipy.org/doc/numpy-1.13.0/reference/arrays.datetime.html [Accessed 3 December 2019]
5. Sarkar, D (2018) Categorical Data [Online] Available at: https://towardsdatascience.com/understanding-feature-engineering-part-2-categorical-data-f54324193e63 [Accessed 21 November 2019].